.home-head-font {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.about-body-font {
  font-family: cursive;
  color: black;
}

section,
div,
article {
  background: transparent;
  border: none;
  box-shadow: none;
}

.navbar .nav-link.active {
  color: rgb(5, 136, 188) !important;
}

body.bg-whitesmoke .nav-link {
  color: black !important;
}

body.bg-black .nav-link {
  color: whitesmoke !important;
}

.about-img {
  box-shadow: 0px 0px 5px 5px rgb(91, 204, 249);
}

.hob-image {
  width: 1920;
  height: 1080;
}

.navbar-transparent {
  background-color: transparent !important;
  box-shadow: none !important;
}

.header-custom {
  position: relative;
  top: 10px;
  transform: translateX(-50%);
  width: max-content;
  z-index: 1000;
}

.footer-custom {
  position: relative;
  top: 15px;
  bottom: 10px;
  transform: translateX(-50%);
  width: max-content;
  z-index: 1000;
}

.text-pos {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  overflow-x: hidden;
}

.contact-content {
  margin-left: 70px;
}

/* .fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
} */
