<footer class="py-4 text-center fade-in" style="animation-delay: 6s;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <a
          href="https://github.com/kasra36"
          target="_blank"
          rel="noopener noreferrer"
          class="mx-2"
          aria-label="GitHub"
        >
          <img
            src="{{ url_for('static', filename='assets/github.svg') }}"
            width="40"
            height="40"
            alt="GitHub"
          />
        </a>
        <a
          href="https://www.linkedin.com/in/hoseintajali/"
          target="_blank"
          rel="noopener noreferrer"
          class="mx-2"
          aria-label="LinkedIn"
        >
          <img
            src="{{ url_for('static', filename='assets/linkedin.svg') }}"
            width="40"
            height="40"
            alt="LinkedIn"
          />
        </a>
        <p class="mb-0 py-2 home-head-font" style="color: whitesmoke">
          © 2025 Company, Inc. All rights reserved.
        </p>
      </div>
      <div class="col-6"></div>
    </div>
  </div>
</footer>
