<header class="fade-in" style="animation-delay: 6s">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <nav class="navbar home-head-font justify-content-center">
          <ul class="navbar-nav nav-underline flex-row">
            <li class="nav-item px-2">
              <a
                class="nav-link {% if request.path == url_for('home') %}active{% endif %}"
                href="{{ url_for('home') }}"
                >Home</a
              >
            </li>
            <li class="nav-item px-2">
              <a
                class="nav-link {% if request.path == url_for('projects') %}active{% endif %}"
                href="{{ url_for('projects') }}"
                >Projects</a
              >
            </li>
            <li class="nav-item px-2">
              <a
                class="nav-link {% if request.path == url_for('about') %}active{% endif %}"
                href="{{ url_for('about') }}"
                >About</a
              >
            </li>
            <li class="nav-item px-2">
              <a
                class="nav-link {% if request.path == url_for('contact') %}active{% endif %}"
                href="{{ url_for('contact') }}"
                >Contact</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-6"></div>
    </div>
  </div>
</header>
